html {
  font-family: "Archivo Narrow", sans-serif;
}

li a {
  text-decoration: none;
  color: #751919;
}

li a:hover {
  background-color: #f4c37d;
}

.current {
  color: black;
}

header {
  background-color: #eaeaea;
}

.banner-content {
  color: #eaeaea;
}

.banner-content-sponsor {
  transform: translateX(-20%);
}

.banner-content h1 {
  color: black;
}

.pet-section, .volunteer {
  background-color: #3a3a3a;
  color: white;
}

.border {
  border-top: 1px solid black;
}
