html {
  font-family: 'Archivo Narrow', sans-serif;
}

li a {
  text-decoration: none;
  color: #751919;
}

li a:hover {
  background-color: #F4C37D;
}

.current {
  color: black;
}

header {
  background-color: #EAEAEA;
}

.banner-content {
  color: #EAEAEA;
}

.banner-content-sponsor {
  transform: translateX(-20%);
}

.banner-content h1 {
  color: black;
}

.pet-section , .volunteer{
  background-color: #3A3A3A;
  color: white;
}

.border {
  border-top: 1px solid black;
}
